<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Custom error page</title>
</head>
<body>
<h1>Error has just occurred</h1>
<div th:text="${errorMsg}" style="color:red"></div>
</body>
</html>