<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>
</head>
<body>

<form action="#" th:action="@{/events}" method="post">
  <input type="text" name="title" id="title" placeholder="Title">
  <input type="date" name="date" id="date" placeholder="Date">
  <input type="submit" value="Add event">
</form>

<form action="#" method="get">
  <input type="number" name="id" id="id" placeholder="Id">
  <input type="button" id="getById" value="Get by id">
</form>

<form action="#" method="get">
  <input type="text" name="title" id="titleInput" placeholder="Title">
  <input type="button" id="getByTitle" value="Get by title">
</form>

<form action="#" method="get">
  <input type="date" name="date" id="dateInput" placeholder="Date">
  <input type="button" id="getByDate" value="Get for day">
</form>

<form action="#" th:action="@{/events}" th:method="put">
  <input name="_method" type="hidden" value="PUT" />
  <input type="number" name="id" placeholder="Id">
  <input type="text" name="title" placeholder="Title">
  <input type="date" name="date" placeholder="Date">
  <input type="submit" value="Update event">
</form>

<br/><br/>
<div class="eventsList" th:unless="${#lists.isEmpty(events)}">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
      <td th:text="${event.id}"></td>
      <td th:text="${event.title}"></td>
      <td th:text="${event.date}"></td>
      <td>
        <form action="#" th:action="@{events/__${event.id}__}" th:method="delete">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  $('#getById').click(function() {
    sendGetRequest($('#id').val())
  });

  $('#getByTitle').click(function() {
    sendGetRequest('byTitle/' + $('#titleInput').val())
  });

  $('#getByDate').click(function() {
    sendGetRequest('byDay/' + $('#dateInput').val())
  });

  function sendGetRequest(params) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", '/events/' + params, true);
    xhr.onload = function() {
      if (xhr.status != 200) {
        alert(`Error! ${xhr.status}`);
        console.log(xhr)
        console.log(xhr.response)
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      } else {
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      }
    }
    xhr.send();
  }
</script>
</body>
</html>