<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>
</head>
<body>

<form method="post" enctype="multipart/form-data" th:action="@{/tickets/preload}">
  <input type="file" name="file"/>
  <input type="submit" value="Preload"/>
</form>

<form action="#" th:action="@{/tickets}" method="post">
  <input type="number" name="userId" id="userId" placeholder="User id">
  <input type="number" name="eventId" id="eventId" placeholder="Event id">
  <input type="number" name="place" id="place" placeholder="Place">
  <select name="category">
    <option th:each="categoryOpt : ${T(com.epam.events.tickets.booking.model.Ticket.Category).values()}"
            th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
  </select>
  <input type="submit" value="Book ticket">
</form>

<form action="#" method="get">
  <input type="number" name="userId" id="userIdInput" placeholder="User id">
  <input type="button" id="getByUserId" value="Get by user id">
  <input type="button" id="getPdfByUserId" value="Get pdf by user id">
</form>

<form action="#" method="get">
  <input type="number" name="eventId" id="eventIdInput" placeholder="Event id">
  <input type="button" id="getByEventId" value="Get by event id">
</form>

<br/><br/>
<div class="ticketsList" th:unless="${#lists.isEmpty(tickets)}">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>User id</th>
      <th>Event id</th>
      <th>Place</th>
      <th>Category</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
      <td th:text="${ticket.id}"></td>
      <td th:text="${ticket.userId}"></td>
      <td th:text="${ticket.eventId}"></td>
      <td th:text="${ticket.place}"></td>
      <td th:text="${ticket.category}"></td>
      <td>
        <form action="#" th:action="@{tickets/__${ticket.id}__}" th:method="delete">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" value="Submit" class="btn btn-danger">Cancel</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  $('#getByUserId').click(function() {
    sendGetRequest('byUser/' + $('#userIdInput').val())
  });

  $('#getPdfByUserId').click(function() {
    sendGetPdfRequest('byUser/' + $('#userIdInput').val())
  });

  $('#getByEventId').click(function() {
    sendGetRequest('byEvent/' + $('#eventIdInput').val())
  });

  function sendGetRequest(params) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", '/tickets/' + params, true);
    xhr.onload = function() {
      if (xhr.status != 200) {
        alert(`Error!\n ${xhr.status}: ${xhr.statusText}`);
      } else {
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      }
    }
    xhr.send();
  }

    function sendGetPdfRequest(params) {
    var xhr = new XMLHttpRequest();
    xhr.responseType = "blob";
    xhr.open("GET", '/tickets/' + params, true);
    xhr.setRequestHeader("Accept", "application/pdf");
    xhr.onload = function() {
      if (xhr.status != 200) {
        alert(`Error! ${xhr.status}`);
                alert(`Error! ${xhr.status}`);
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      } else {
        let blob = new Blob([xhr.response], { type: 'application/pdf'});
        let blobSrc = window.URL.createObjectURL(blob);
        window.open(blobSrc, '_blank');
      }
    }
    xhr.send();
  }
</script>
</body>
</html>