<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>
</head>
<body>

<form action="#" th:action="@{/users}" method="post">
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="submit" value="Add User">
</form>

<form action="#" method="get">
  <input type="number" name="id" id="id" placeholder="Id">
  <input type="button" id="getById" value="Get by id">
</form>

<form action="#" method="get">
  <input type="text" name="email" id="emailInput" placeholder="Email">
  <input type="button" id="getByEmail" value="Get by email">
</form>

<form action="#" method="get">
  <input type="text" name="name" id="nameInput" placeholder="Name">
  <input type="button" id="getByName" value="Get by name">
</form>

<form action="#" th:action="@{/users}" th:method="put">
  <input name="_method" type="hidden" value="PUT" />
  <input type="number" name="id" placeholder="Id">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="submit" value="Update User">
</form>

<br/><br/>
<div class="usersList" th:unless="${#lists.isEmpty(users)}">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <form action="#" th:action="@{users/__${user.id}__}" th:method="delete">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  $('#getById').click(function() {
    sendGetRequest($('#id').val())
  });

  $('#getByEmail').click(function() {
    sendGetRequest('byEmail/' + $('#emailInput').val())
  });

  $('#getByName').click(function() {
    sendGetRequest('byName/' + $('#nameInput').val())
  });

  function sendGetRequest(params) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", '/users/' + params, true);
    xhr.onload = function() {
      if (xhr.status != 200) {
        alert(`Error! ${xhr.status}`);
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      } else {
        document.open("text/html", "replace");
        document.write(xhr.response);
        document.close();
      }
    }
    xhr.send();
  }
</script>
</body>
</html>